xsonify-integration-tests/src/test/resources/xsd/test/redefineB.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:redefine schemaLocation="redefineC.xsd">
    <xs:complexType name="contentC">
      <xs:complexContent>
        <xs:extension base="contentC">
          <xs:choice>
            <xs:element name="b" type="xs:string" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:redefine>

  <xs:complexType name="contentB">
    <xs:choice>
      <xs:element name="b" type="xs:string"/>
    </xs:choice>
  </xs:complexType>

  <xs:element name="elementB" type="contentB"/>

</xs:schema>
