xsonify-integration-tests/src/test/resources/xsd/mycore/datamodel-mods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>Generated by org.mycore.plugins:datamodel-plugin:0.8</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/XML/2008/06/xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:include schemaLocation="mcrcommon-datamodel.xsd"/>
  <xs:import xmlns:mods="http://www.loc.gov/mods/v3" namespace="http://www.loc.gov/mods/v3" schemaLocation="http://www.loc.gov/standards/mods/v3/mods-3-8.xsd"/>
  <xs:element name="structure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parents" minOccurs="0"/>
        <xs:element ref="children" minOccurs="0"/>
        <xs:element ref="derobjects" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:all>
        <xs:element ref="def.modsContainer"/>
      </xs:all>
      <xs:attribute ref="xml:lang" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="def.modsContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="modsContainer"/>
      </xs:sequence>
      <xs:attribute name="class" use="required" type="xs:NCName" fixed="MCRMetaXML"/>
      <xs:attribute name="notinherit" type="xs:boolean" use="required" fixed="true"/>
      <xs:attribute name="heritable" type="xs:boolean" fixed="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="modsContainer">
    <xs:complexType>
      <xs:sequence xmlns:mods="http://www.loc.gov/mods/v3">
                
        <xs:element ref="mods:mods"/>
              
      </xs:sequence>
      <xs:attributeGroup ref="MCRMetaXML"/>
      <xs:attributeGroup ref="notInherited"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="sequence" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
